{% extends "base_generic.html" %}
{% load bootstrap %}


<div class="container-fluid">  


{% block content %}

<!--BREADCRUMB-->
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Genres</li>
  </ol>
</nav>



<div class="genre-list-grid">
{% if genre_list %}
{% for genre in filter.qs %}
<a href="{{ genre.get_absolute_url }}">{{genre.name}}</a>
{% endfor %}
{% else %}
<p>There are no genres in the library.</p>
{% endif %} 
</div>
{% endblock %}
  

</div>
