{% extends "base_generic.html" %}
<!-- {% load thumbnail %} -->
<div style="margin-left:30px;margin-top:20px">

{% block content %}

<div class="container-fluid"><br>
<h1 class="text-left display-5">{{genre.name}}</h1>
<br>
<hr class="mt-0 mb-4">

 <!--TABLE GENRE DETAIL-->
<div class="table-responsive">
{% if genre.album_set.all %}
<table class="table table-striped table-bordered">
  <thead class="table-dark"> 
    <tr>
      <th scope="col">Album title</th>
      <th scope="col">Artist</th>
    </tr>
  </thead>

<tbody>
{% for album in genre.album_set.all %}
    <tr>
      <td><a href="{% url 'album-detail' album.pk %}">{{album}}</a></td>
      <td>{{album.artist}}</td>
    </tr>
{% endfor %}
</tbody>
</table>
{% else %}
<p>There are no albums of this genre.</p>
{% endif %} 
</div>
{% endblock %}
</div>
</div>