{% extends "base_generic.html" %}
{% load bootstrap %}
<div class="container-fluid">  

{% block content %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Wanted</li>
  </ol>
</nav>


<div class="container-fluid"><br>
<h1 class="text-left display-5">Records to Buy</h1>
<br>
<hr class="mt-0 mb-4">
  


<!--TABLE WANTED LIST-->
<div class="table-responsive">
<table class="table table-striped table-bordered">
  <thead class="table-dark"> 
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Artist</th>
      <th scope="col">Notes</th>
    </tr>
  </thead>
  <tbody>

{% for wanted in wanted_list %}

    <tr>
      <td>{{ wanted.title }}</td>
      <td>{{wanted.artist}}</td>
      <td>{{wanted.album_notes}}</td>

    </tr>
{% endfor %}
</tbody>
</table>
</div>

<div class="container" style="margin-left:30px;margin-top:20px">  
<p><a href="{% url 'wanted-create' %}">Add wanted records</a></p>
</div>


{% endblock %}